{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
		<h3 class="tittle-w3l">Welcome to Grocery Shoppy
			<span class="heading-style">
				<i></i>
				<i></i>
				<i></i>
			</span>
		</h3>
		<h3>About Us</h3>
		<p>India's most convenient online grocery channel Grocery Shoppy makes your grocery shopping even simpler. No more hassles of sweating it out in crowded markets, grocery shops & supermarkets - now shop from the comfort of your home; office or on the move. We offer you convenience of shopping everything that you need for your home - be it fresh fruits & vegetables, rice, dals, oil, packaged food, dairy item, frozen, pet food, household cleaning items & personal care products from a single virtual store.
		</p>
	</div>
</div>
{% endblock %}