{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="contact agileits">
                <div class="contact-agileinfo">
                    <div class="contact-form wthree">

                            <h2>Add fruits product</h2>
                            <br>
                            <form method="post" enctype="multipart/form-data">
                                {%csrf_token %}
                            <div class="">
                                <input type="text" name="name" placeholder="Product Name" value="{{Fruits.name}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="description" placeholder="Product description" value="{{Fruits.desc}}" required="">
                            </div>
                            <div class="">
                                <input class="email" type="text" name="baseprice" placeholder="Base price"  value="{{Fruits.basePrice}}" required="">
                            </div>
                                <div class="">
                                <input class="text" type="text" name="discount" placeholder="discount"  value="{{Fruits.discount}}">
                            </div>
                                <div class="">
                                <input class="text" type="text" name="size" placeholder="size"  value="{{Fruits.size}}">
                            </div>
                                <div class="">
                                <input class="text" type="text" name="quantity" placeholder="quantity"  value="{{Fruits.quantity}}">
                            </div>
							<label> Image1</label>
							<input type="file" name="img1"><br>
							<label> Image2</label>
							<input type="file" name="img2"><br>
							<label> Image3</label>
							<input type="file" name="img3"><br>

                        <button type="submit" class="btn btn-success">Add Product</button>
                        </form>
                    </div>
{% endblock %}
