<!-- contact -->
{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Personal Information <br><br>
            <div class="contact agileits">
                <div class="contact-agileinfo">
                    <div class="contact-form wthree">
                        <p>Welcome</p><h2>{{User.uname}}</h2><br>
                        <form method="post">
                            {%csrf_token %}
                            <div class="">
                                <input type="text" name="name" placeholder="Name" value="{{User.name}}">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="uname" placeholder="Username" value="{{User.uname}}" >
                            </div>
                            <div class="">
                                <input class="email" type="email" name="email" placeholder="Email"  value="{{User.email}}" >
                            </div>
                            <div class="">
                                <input class="text" type="text" name="address1" placeholder="Address" value="{{User.address1}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="landmark" placeholder="Landmark" value="{{User.landmark}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="city" placeholder="City" value="{{User.city}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="state" placeholder="State" value="{{User.state}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="pin" placeholder="Pin" value="{{User.pin}}" required="">
                            </div>
                            <h1 class="tittle-w3l">Bank Details</h1>
                            <div class="">
                                <input type="text" name="bankName" placeholder="Bank Name" value="{{User.bankName}}" >
                            </div>
                            <div class="">
                                <input class="text" type="text" name="accountNumber" placeholder="Account Number" value="{{User.accountNumber}}" required="">
                            </div>
                            <input type="submit" value="Update">
                        </form>
                    </div>
                </div>
            </div>
        </h3>
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Your Order History
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>


<div class="checkout-right">
<!--    <h4>Your shopping cart contains:-->
<!--        <span>3 Products</span>-->
<!--    </h4>-->
    <div class="table-responsive">
        <table class="timetable_sub">
            <thead>
                <tr>

                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
            {% for i in Order %}
                <tr class="rem1">

                    {% if i.snacks %}
                    <td class="invert-image"><img src="{{i.snacks.img1.url}}"></td>
                    {% endif %}
                    {% if i.pulses %}
                    <td class="invert"><img src="{{i.pulses.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.bakery %}
                    <td class="invert"><img src="{{i.bakery.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.vegetables %}
                    <td class="invert"><img src="{{i.vegetables.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.fruits %}
                    <td class="invert"><img src="{{i.fruits.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.spices %}
                    <td class="invert"><img src="{{i.spices.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.frozenFoods %}
                    <td class="invert"><img src="{{i.frozenFoods.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}
                    {% if i.beverages %}
                    <td class="invert"><img src="{{i.beverages.img1.url}}" width="50px" height="50px"></td>
                    {% endif %}

                    {% if i.snacks %}
                    <td class="invert">{{i.snacks}}</td>
                    {% endif %}
                    {% if i.pulses %}
                    <td class="invert">{{i.pulses}}</td>
                    {% endif %}
                    {% if i.bakery %}
                    <td class="invert">{{i.bakery}}</td>
                    {% endif %}
                    {% if i.vegetables %}
                    <td class="invert">{{i.vegetables}}</td>
                    {% endif %}
                    {% if i.fruits %}
                    <td class="invert">{{i.fruits}}</td>
                    {% endif %}
                    {% if i.spices %}
                    <td class="invert">{{i.spices}}</td>
                    {% endif %}
                    {% if i.frozenFoods %}
                    <td class="invert">{{i.frozenFoods}}</td>
                    {% endif %}
                    {% if i.beverages %}
                    <td class="invert">{{i.beverages}}</td>
                    {% endif %}

                    <td class="invert">{{i.quantity}}</td>
                    <td class="invert">{{i.finalPrice}}</td>
                    <td>{{i.date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
<div class="privacy">
    <div class="container">

        {% endblock %}