{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
<!--	<div class="services-breadcrumb">-->
<!--		<div class="agile_inner_breadcrumb">-->
<!--			<div class="container">-->
<!--				<ul class="w3_short">-->
<!--					<li>-->
<!--						<a href="/">Home</a>-->
<!--						<i>|</i>-->
<!--					</li>-->
<!--					{% for i in Category %}-->
<!--					<li>{{i.name}}</li>-->
<!--					{% endfor %}-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
	<!-- //page -->
	<!-- top Products -->
	<div class="ads-grid">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l"> Products
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<!-- product left -->
			<div class="side-bar col-md-3">
<!--				<div class="search-hotel">-->
<!--					<h3 class="agileits-sear-head">Search Here..</h3>-->
<!--					<form action="#" method="post">-->
<!--						<input type="search" placeholder="Product name..." name="search" required="">-->
<!--						<input type="submit" value=" ">-->
<!--					</form>-->
<!--				</div>-->
<!--				&lt;!&ndash; price range &ndash;&gt;-->
<!--				<div class="range">-->
<!--					<h3 class="agileits-sear-head">Price range</h3>-->
<!--					<ul class="dropdown-menu6">-->
<!--						<li>-->

<!--							<div id="slider-range"></div>-->
<!--							<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
				<!-- //price range -->
				<!-- food preference -->
				<div class="left-side">
					<h3 class="agileits-sear-head">Categories</h3>
					<ul>
						{% for i in KitCat %}
						<li>
							<a href="/product/{{i.name}}/">{{i.name}}</a>
						</li>
						{% endfor %}

					</ul>
				</div>

			</div>
			<!-- //product left -->
			<!-- product right -->

			<div class="agileinfo-ads-display col-md-9 w3l-rightpro">
				<div class="wrapper">
					<!-- first section -->
					<div class="product-sec1">
						{% for i in Product %}
						<div class="col-xs-4 product-men">
							<div class="men-pro-item simpleCart_shelfItem">
								<div class="men-thumb-item">
								<img src="{{i.img1.url}}" alt="" width="200px" height="130px">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a href="/productinfo/{{i.id}}/{{i.cat}}/" class="link-product-add-cart">Quick View</a>
										</div>
									</div>
									<span class="product-new-top">New</span>
								</div>
								<div class="item-info-product ">
									<h4>
										<a href="/productinfo/{{i.id}}/{{i.cat}}/">{{i.name}}</a>
										<p>{{i.size}}</p>
									</h4>
									<div class="info-product-price">
										<span class="item_price">{{i.finalPrice}}</span>
										<del>{{i.basePrice}}</del>
									</div>
									<div class="choose">
											<ul class="nav nav-pills nav-justified">
												<li><a href="/wishlist/{{i.id}}/{{i.cat}}"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
											</ul>
										</div>
									<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form method="post" action="/cart/{{i.id}}/{{i.cat}}/">
											{% csrf_token %}
											<input type="hidden" value="1" name="quantity">
											<input type="hidden" value="{{i.finalPrice}}" name="fprice">
											{% if not i.stock %}
											<button type="submit"class="btn btn-info" type="submit" name="submit" style="pointer-events: none">
												<i class="fa fa-cart-plus">Out of Stock</i>
											</button>
											{% else %}
											<button type="submit"class="btn btn-info" type="submit" name="submit">
												<i class="fa fa-cart-plus">Add to Cart</i>
											</button>
											{% endif %}
										</form>
									</div>

								</div>
							</div>
						</div>
						{% endfor %}
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //first section -->

				</div>
			</div>
			<!-- //product right -->
		</div>
	</div>
	<!-- //top products -->
	<!-- special offers -->
	<div class="featured-section" id="projects">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Special Offers
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<div class="content-bottom-in">
				<ul id="flexiselDemo1">
					{% for i in Product %}
					<li>
						<div class="w3l-specilamk">
							<div class="speioffer-agile">
								<a href="/productinfo/{{i.id}}/{{i.cat}}/">
									<img src="{{i.img1.url}}" alt="" width="50 px" height="50px">
								</a>
							</div>
							<div class="product-name-w3l">
								<h4>
									<a href="/productinfo/{{i.id}}/{{i.cat}}/">{{i.name}}</a> <p>{{i.size}}</p>
								</h4>
								<div class="w3l-pricehkj">
									<h6>{{i.finalPrice}}</h6>
									<p>Save {{i.discount}}%</p>
								</div>
								<div class="choose">
											<ul class="nav nav-pills nav-justified">
												<li><a href="/wishlist/{{i.id}}/"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
											</ul>
										</div>
								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
										<form method="post" action="/cart/{{i.id}}/{{i.cat}}/">
											{% csrf_token %}
											<input type="hidden" value="1" name="quantity">
											<input type="hidden" value="{{i.finalPrice}}" name="fprice">
											<button type="submit"class="btn btn-info" type="submit" name="submit">
												<i class="fa fa-cart-plus">Add to Cart</i>
											</button>
										</form>

									</div>
							</div>
						</div>
					</li>
					{% endfor %}
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single.html">-->
<!--									<img src="images/s4.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single.html">Kissan Tomato Ketchup, 950g</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$99.00</h6>-->
<!--									<p>Save $20.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Kissan Tomato Ketchup, 950g" />-->
<!--											<input type="hidden" name="amount" value="99.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single.html">-->
<!--									<img src="images/s2.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single.html">Madhur Pure Sugar, 1g</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$69.00</h6>-->
<!--									<p>Save $20.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Madhur Pure Sugar, 1g" />-->
<!--											<input type="hidden" name="amount" value="69.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single2.html">-->
<!--									<img src="images/s3.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single2.html">Surf Excel Liquid, 1.02L</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$187.00</h6>-->
<!--									<p>Save $30.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Surf Excel Liquid, 1.02L" />-->
<!--											<input type="hidden" name="amount" value="187.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single.html">-->
<!--									<img src="images/s8.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single.html">Cadbury Choclairs, 655.5g</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$160.00</h6>-->
<!--									<p>Save $60.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Cadbury Choclairs, 655.5g" />-->
<!--											<input type="hidden" name="amount" value="160.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single2.html">-->
<!--									<img src="images/s6.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single2.html">Fair & Lovely, 80 g</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$121.60</h6>-->
<!--									<p>Save $30.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Fair & Lovely, 80 g" />-->
<!--											<input type="hidden" name="amount" value="121.60" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single.html">-->
<!--									<img src="images/s5.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single.html">Sprite, 2.25L (Pack of 2)</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$180.00</h6>-->
<!--									<p>Save $30.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Sprite, 2.25L (Pack of 2)" />-->
<!--											<input type="hidden" name="amount" value="180.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
<!--					<li>-->
<!--						<div class="w3l-specilamk">-->
<!--							<div class="speioffer-agile">-->
<!--								<a href="single2.html">-->
<!--									<img src="images/s9.jpg" alt="">-->
<!--								</a>-->
<!--							</div>-->
<!--							<div class="product-name-w3l">-->
<!--								<h4>-->
<!--									<a href="single2.html">Lakme Eyeconic Kajal, 0.35 g</a>-->
<!--								</h4>-->
<!--								<div class="w3l-pricehkj">-->
<!--									<h6>$153.00</h6>-->
<!--									<p>Save $40.00</p>-->
<!--								</div>-->
<!--								<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">-->
<!--									<form action="#" method="post">-->
<!--										<fieldset>-->
<!--											<input type="hidden" name="cmd" value="_cart" />-->
<!--											<input type="hidden" name="add" value="1" />-->
<!--											<input type="hidden" name="business" value=" " />-->
<!--											<input type="hidden" name="item_name" value="Lakme Eyeconic Kajal, 0.35 g" />-->
<!--											<input type="hidden" name="amount" value="153.00" />-->
<!--											<input type="hidden" name="discount_amount" value="1.00" />-->
<!--											<input type="hidden" name="currency_code" value="USD" />-->
<!--											<input type="hidden" name="return" value=" " />-->
<!--											<input type="hidden" name="cancel_return" value=" " />-->
<!--											<input type="submit" name="submit" value="Add to cart" class="button" />-->
<!--										</fieldset>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</li>-->
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}