{% extends 'index.html' %}
{% load static %}
{% block body %}

<!--	<div class="page-head_agile_info_w3l">-->

<!--	</div>-->
	<!-- //banner-2 -->
<!--	&lt;!&ndash; page &ndash;&gt;-->
<!--	<div class="services-breadcrumb">-->
<!--		<div class="agile_inner_breadcrumb">-->
<!--			<div class="container">-->
<!--				<ul class="w3_short">-->
<!--					<li>-->
<!--						<a href="index.html">Home</a>-->
<!--						<i>|</i>-->
<!--					</li>-->
<!--					<li>{{Product.name}}</li>-->
<!--				</ul>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--	&lt;!&ndash; //page &ndash;&gt;-->
	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits">
		<div class="container">

			<div class="col-md-5 single-right-left ">
				<div class="grid images_3_of_2">
					<div class="flexslider">
						<ul class="slides">
							{% if Product.img1 %}
							<li data-thumb="{{Product.img1.url}}">
								<div class="thumb-image">
									<img src="{{Product.img1.url}}" data-imagezoom="true" class="img-responsive" alt=""> </div>
							</li>
							{% endif %}
						</ul>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-7 single-right-left simpleCart_shelfItem">
				<h3><b>{{Product.name}}</b></h3>
				<h7>{{Product.size}}</h7>
				<p>
					<span class="item_price">Rs{{Product.basePrice}}</span>
					<del>{{Product.finalPrice}}</del>
				</p>
				<form action="/cart/{{Product.id}}/{{Product.cat}}/" method="post">
					{% csrf_token %}
					<div class="occasion-cart">
						<label>Quantity </label>
					<input type="number" max="{{Product.quantity}}" name="quantity" value="1"><br>
					<input type="hidden" name="fprice" value="{{Product.finalPrice}}"><br>
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<br><input type="submit" name="submit" value="Add to cart" class="button" />
						</div>
					</div>
				</form>
				<div class="product-single-w3l">
					<p>
						<i class="fa fa-hand-o-right" aria-hidden="true"></i>Product Description</p>
					<ul>
						{{Product.desc}}
					</ul>

				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //Single Page -->


{% endblock %}