{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <a href="#" data-toggle="modal" data-target="#myModal4">
            <h3 class="tittle-w3l">Personal Information
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal5">
            <h3 class="tittle-w3l">Add Product
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal6">
            <h3 class="tittle-w3l">Your Products
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        </a>
        <a href="#" data-toggle="modal" data-target="#myModal10">
            <h3 class="tittle-w3l">Products Sold
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
        </a>
<!--        myModal4-->
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Mo-dal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="modal_body_left modal_body_left1">

                            <h3 class="agileinfo_sign">Personal Information </h3>

                            <form method="post">
                                {% csrf_token %}
                                <div class="styled-input agile-styled-input-top">
                                    <label>Name</label>
                                    <input type="text" name="name" value="{{User.name}}" >
                                </div>
<!--                                <div class="styled-input agile-styled-input-top">-->
<!--                                    <label>Username</label>-->
                                    <input class="text" type="hidden" name="uname" value="{{User.uname}}" >
<!--                                </div>-->
                                <div class="styled-input">
                                    <label>Email Address</label>
                                    <input class="email" type="email" name="email"  value="{{User.email}}" >
                                </div>
                                <div class="styled-input">
                                    <label>Phone Number</label>
                                    <input class="text" type="text" name="phone"  value="{{User.phone}}">
                                </div>
                                <div class="styled-input">
                                    <label>Address</label>
                                    <input class="text" type="text" name="address"  value="{{User.address}}" >
                                </div>
                                <div class="styled-input">
                                    <label>Landmark</label>
                                    <input class="text" type="text" name="landmark"  value="{{User.landmark}}" >
                                </div>
                                <div class="styled-input">
                                    <label>Pincode</label>
                                    <input class="text" type="text" name="pin"  value="{{User.pin}}" >
                                </div>
                                <div class="styled-input">
                                    <label>City</label>
                                    <input class="text" type="text" name="city"   value="{{User.city}}" >
                                </div>
                                <div class="styled-input">
                                    <label>State</label>
                                    <input class="text" type="text" name="state" value="{{User.state}}" >
                                </div>
                                <div class="styled-input">
                                    <label>Bank Name</label>
                                    <input type="text" name="bankName" value="{{User.bankName}}" >
                                </div>
                                <div class="styled-input">
                                    <label>IFSC Code</label>
                                    <input type="text" name="ifscCode" value="{{User.ifscCode}}" >
                                </div>
                                <div class="styled-input">
                                    <label>Account Number</label>
                                    <input type="text" name="accountNumber"  value="{{User.accountNumber}}" >
                                </div>
                                <h3 class="tittle-w3l">
                                    <input type="submit" value="Update">
                                </h3>
                            </form>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
<!--    //myModal4-->
<!--    myModal5-->
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
		    <div class="modal-dialog">
			<!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    </div>
				    <div class="modal-body modal-body-sub_agile">
					    <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Add Products</h3>
                            <h3 class="tittle-w3l">
                                <a class="btn btn-info" href="/addbakery/">Add Bakery</a>
                                <a class="btn btn-info" href="/addpulses/">Add pulses</a>
                                <a class="btn btn-info" href="/addsnacks/">Add Snacks</a>
                                <a class="btn btn-info" href="/addfruits/">Add Fruits</a>
                                <a class="btn btn-info" href="/addvegetables/">Add Vegetables</a>
                                <a class="btn btn-info" href="/addfrozenfood/">Add Frozen food</a>
                                <a class="btn btn-info" href="/addspices/">Add Spices</a>
                                <a class="btn btn-info" href="/addbeverages/">Add Beverages</a>
                            </h3>
					    </div>
				    </div>
			    </div>
			<!-- //Modal content-->
		    </div>
	    </div>
<!--    //myModal5-->
<!--        myModal6-->
        <div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
		    <div class="modal-dialog">
			<!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    </div>
				    <div class="modal-body modal-body-sub_agile">
					    <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Your Products</h3>
                            <div class="checkout-right">
                                </h4>
                                <div class="table-responsive">
                                    <table class="timetable_sub">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Name</th>
                                                <th>Base Price</th>
                                                <th>Discount</th>
                                                <th>Final Price</th>
                                                <th>Quantity</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in Beverages %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Fruits %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Snacks %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a> <br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Spices %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                   <div class="rem">
                                                       <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                       <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Vegetables %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                   <div class="rem">
                                                       <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                       <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in FrozenFoods %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Pulses %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        {% for i in Bakery %}
                                            <tr class="rem1">
                                                <td class="invert-image">
                                                    <img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                                                </td>
                                                <td class="invert"><b>{{i.name}}</b></td>
                                                <td>{{i.basePrice}}</td>
                                                 <td class="invert">{{i.discount}}</td>
                                                <td>{{i.finalPrice}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td class="invert">
                                                    <div class="rem">
                                                        <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                                                        <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fa fa-edit"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
					    </div>
				    </div>
			    </div>
			<!-- //Modal content-->
		    </div>
	    </div>
<!--        //myModal6-->
<!--        myModal10-->
        <div class="modal fade" id="myModal10" tabindex="-1" role="dialog">
		    <div class="modal-dialog">
			<!-- Modal content-->
			    <div class="modal-content">
				    <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">&times;</button>
				    </div>
				    <div class="modal-body modal-body-sub_agile">
					    <div class="modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Products Sold</h3>
                            <div class="checkout-right">
                                {% if not Order %}
                                <h5 class="tittle-w3l">You have not sold anything yet!</h5>
                                {% else %}
                                <h4>
                                <div class="table-responsive">
                                    <table class="timetable_sub">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Name</th>
                                                <th>Quantity</th>
                                                <th>Buyer</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in Order %}
                                           <tr class="rem1">

                                                    {% if i.snacks %}
                                                    <td class="invert-image"><img src="{{i.snacks.img1.url}}"></td>
                                                    {% endif %}
                                                    {% if i.pulses %}
                                                    <td class="invert"><img src="{{i.pulses.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.bakery %}
                                                    <td class="invert"><img src="{{i.bakery.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.vegetables %}
                                                    <td class="invert"><img src="{{i.vegetables.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.fruits %}
                                                    <td class="invert"><img src="{{i.fruits.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.spices %}
                                                    <td class="invert"><img src="{{i.spices.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.frozenFoods %}
                                                    <td class="invert"><img src="{{i.frozenFoods.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}
                                                    {% if i.beverages %}
                                                    <td class="invert"><img src="{{i.beverages.img1.url}}" width="50px" height="50px"></td>
                                                    {% endif %}

                                                    {% if i.snacks %}
                                                    <td class="invert">{{i.snacks}}</td>
                                                    {% endif %}
                                                    {% if i.pulses %}
                                                    <td class="invert">{{i.pulses}}</td>
                                                    {% endif %}
                                                    {% if i.bakery %}
                                                    <td class="invert">{{i.bakery}}</td>
                                                    {% endif %}
                                                    {% if i.vegetables %}
                                                    <td class="invert">{{i.vegetables}}</td>
                                                    {% endif %}
                                                    {% if i.fruits %}
                                                    <td class="invert">{{i.fruits}}</td>
                                                    {% endif %}
                                                    {% if i.spices %}
                                                    <td class="invert">{{i.spices}}</td>
                                                    {% endif %}
                                                    {% if i.frozenFoods %}
                                                    <td class="invert">{{i.frozenFoods}}</td>
                                                    {% endif %}
                                                    {% if i.beverages %}
                                                    <td class="invert">{{i.beverages}}</td>
                                                    {% endif %}

                                                    <td>{{i.quantity}}</td>
                                                    <td>{{i.user.name}}</td>
                                                    <td>{{i.date}}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                </h4>
                                {% endif %}
                            </div>
					    </div>
				    </div>
			    </div>
			<!-- //Modal content-->
		    </div>
	    </div>



<!--        //myModal10-->
    </div>
</div>


		{% endblock %}