{% extends 'index.html' %}
{% load static %}
{% block body %}
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Personal Information
            <div class="contact agileits">
                <div class="contact-agileinfo">
                    <div class="contact-form wthree">

                            <p>Welcome</p><h2>{{User.uname}}</h2>
                            <br>
                            <form method="post">
                                {%csrf_token %}
                            <div class="">
                                <input type="text" name="name" placeholder="Name" value="{{User.name}}" required="">
                            </div>
                            <div class="">
                                <input class="text" type="text" name="uname" placeholder="Username" value="{{User.uname}}" required="">
                            </div>
                            <div class="">
                                <input class="email" type="email" name="email" placeholder="Email"  value="{{User.email}}" required="">
                            </div>
                                <div class="">
                                <input class="text" type="text" name="phone" placeholder="phone"  value="{{User.phone}}">
                            </div>
                                <div class="">
                                <input class="text" type="text" name="address" placeholder="address"  value="{{User.address}}" required="">
                            </div><div class="">
                                <input class="text" type="text" name="city" placeholder="city"  value="{{User.city}}" required="">
                            </div>
                                       <div class="">
                                <input type="text" name="bankname" placeholder="Name" value="{{User.bankName}}" required="">
                            </div>
                                <div class="">
                                <input type="text" name="ifsc code" placeholder="code" value="{{User.ifscCode}}" required="">
                            </div>
                                <div class="">
                                <input type="text" name="Account number" placeholder="account number" value="{{User.accountnumber}}" required="">
                            </div>



                            <input type="submit" value="Update">
                        </form>
                    </div>
        </h3>

                        <a class="btn btn-info" href="/addbakery/">Add Bakery</a>
                        <a class="btn btn-info" href="/addpulses/">Add pulses</a>
                        <a class="btn btn-info" href="/addsnacks/">Add Snacks</a>
                        <a class="btn btn-info" href="/addfruits/">Add Fruits</a>
                        <a class="btn btn-info" href="/addvegetables/">Add Vegetables</a>
                        <a class="btn btn-info" href="/addfrozenfood/">Add Frozen food</a>
                        <a class="btn btn-info" href="/addspices/">Add Spices</a>
                        <a class="btn btn-info" href="/addbeverages/">Add Beverages</a>
<div class="privacy">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">Your Order History
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>


<div class="checkout-right">
    </h4>
    <div class="table-responsive">
        <table class="timetable_sub">
            <thead>
                <tr>
					<th>Product</th>
                    <th>Name</th>
                    <th>Product Category</th>
                    <th>Base Price</th>
                    <th>Discount</th>
					<th>Final Price</th>
                    <th>Quantity Available</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
			{% for i in Beverages %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
<!--                            <div class="close1"> </div>-->

                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a><br>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
			{% for i in Fruits %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                           <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
			{% for i in Snacks %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                           <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a> <br>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            {% for i in Spices %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            {% for i in Vegetables %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            {% for i in FrozenFoods %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            {% for i in Pulses %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            {% for i in Bakery %}
                <tr class="rem1">

                    <td class="invert-image">
						<img src="{{i.img1.url}}" alt=" " class="img-responsive" width="200px">
                    </td>
                    <td class="invert"><b>{{i.name}}</b></td>
                    <td>{{i.cat}}</td>
					<td>{{i.basePrice}}</td>
					 <td class="invert">{{i.discount}}</td>
					<td>{{i.finalPrice}}</td>
					<td>{{i.quantity}}</td>
                    <td class="invert">
                        <div class="rem">
                            <a href="/deleteproduct/{{i.id}}/{{i.cat}}" class="fa fa-trash"></a>
                            <a href="/editproduct/{{i.id}}/{{i.cat}}" class="fas fa-edit"></a>
                        </div>
                    </td>
                </tr>
			{% endfor %}
            </tbody>
        </table>

    </div>
</div>



		{% endblock %}